html {
    background-image: url(../../assets/images/patronus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(4, 4, 32);
}

body {
    background-color: transparent !important;
    width:100%;
    margin: auto !important;
}
 
.navFlexbox {
    display: flex;
    background-color: rgb(235, 235, 69);
    color: black;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 28px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 3px;
    font-family: 'Rancho', cursive;

}

.jumbotron {
     color: white !important;
     padding: 10px 10px;
     border-style: 7px solid black;
     margin: 30px 30px;
     text-align: center;
     background-color: rgba(255,255,255, 0.25) !important;
     overflow: hidden;
     min-height: 400px;
}

ol {
     list-style-type: none;

}
ol input {
     margin: 0 10px 0 0 !important;
}

.row {
     opacity: 1;
     background-color: transparent;
     color: black;
}

#hpName {
    font-family: 'Rancho', cursive;
}
 
h2 {
     margin: auto;
     display: block;
}

.rowQuestion {
     padding: 0px 0px 10px 0px;

}

.rowAnswers {
     font-size: 20px;
     text-align: left;

}

#startOver {
     margin-top: 3em;
}

.button, button#startOverBtn{
    margin: auto;
    color: black;
    display: block;
    height: 40px;
    min-width: 100px;
    font-size: 26px;
    font-family: 'Rancho', cursive;
    background-color: rgba(235, 235, 69, 1);
    opacity: 1 !important;
}

.button:hover, button#startOverBtn:hover {
    background-color: rgba(235, 235, 69, 0.75);
}

#gif {
    margin: 20px;
}

#verbalResponse, #correctAnswer {
    font-family: 'Arima Madurai', cursive;
    font-size: 22px;
}

#praise {
    font-size: 2em;
}

#finalResponse {
    font-weight: bold;
    font-size: 1.5m;
}

#finalScorePage {
    font-family: 'Merienda', cursive;
    font-size: 20px;
}

#finalScorePage div {
    margin-bottom: 1em;
}
 

/* Font List:
font-family: 'Lora', serif;
font-family: 'Bad Script', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Rancho', cursive;
font-family: 'Merienda', cursive;
font-family: 'Arima Madurai', cursive;
*/